body{
   
}
.test{
    
    height:655px;
     padding-top:100px;
    background-image: linear-gradient(#270073, #f95b8e);
}
.navbar
{
    margin:0;
    padding:3px
}
.navbar-inverse .navbar-nav > li > a
{
    color:#fff;
}
.navbar-inverse .navbar-nav:hover > li > a:hover
{
    color:#e41b17;
    font-weight:700;
    font-family: cursive;
    letter-spacing:1px;
    font-size:16px
}
.navbar-inverse .navbar-nav > li > a{
    transition:letter-spacing .4s ease , color .4s ease;
}
.navbar-inverse .navbar-nav:focus > li > a:focus{
    color:#C49B66
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-brand:hover
{
    color:#ff9000;
    font-family: cursive;
    font-size:24px;
    font-weight:700;
    padding:12px 15px
}
.fas
{
   color:white
}
.navbar-nav > li > .dropdown-menu
{
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}
.navbar-right .dropdown-menu
{
    left:0;
    right:auto;
    background-color:#333;
    
}
.dropdown-menu > li >a:hover
{
    padding-left:30px;
    background-color:#e41b17;
    color:#fff;
}
.dropdown-menu > li >a
{
    transition:padding .5s ease , background-color .7s ease;
    color:#fff;
}
.dropdown-toggle
{
    letter-spacing:2px
}
.navbar-nav > li
{
    margin-left:10px
}
.item{
width: 100%
}
.carousel
{
 margin-top:60px;
position:relative;
}
.item
{
    position: absolute;
    max-height:377px;
    width:100%;
}
.im
{
 
    max-height:377px;
     width:40%;
}
.carousel-indicators .active
{
    background-color: red;
}
.carousel-indicators li{
    border:2px solid #333
}
