body{

}
.test{
    
    height:655px;
     padding-top:100px;
    background-image: linear-gradient(#270073, #f95b8e);
}
.navbar
{
    margin:0;
    padding:3px;
}
.navbar-inverse .navbar-nav > li > a
{
    color:#fff;
}
.navbar-inverse .navbar-nav:hover > li > a:hover
{
    color:#e41b17;
}

.navbar-inverse .navbar-nav:focus > li > a:focus{
    color:#C49B66
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-brand:hover
{
    color:#ff9000;
    font-family: cursive;
    font-size:24px;
    font-weight:700;
    padding:12px 15px
}
.fas
{
   color:white
}
.navbar-nav > li > .dropdown-menu
{
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}
.navbar-right .dropdown-menu
{
    left:0;
    right:auto;
    background-color:#333;
    
}
.dropdown-menu > li >a:hover
{
    padding-left:30px;
    background-color:#e41b17;
    color:#fff;
}
.dropdown-menu > li >a
{
    transition:padding .5s ease , background-color .7s ease;
    color:#fff;
}
.dropdown-toggle
{
    letter-spacing:2px
}
.navbar-nav > li
{
    margin-left:10px
}
.item{
width: 100%
}
.carousel
{
 margin-top:40px;
position:relative;
}
.item
{
    position: absolute;
    max-height:377px;
    width:100%;
}
.im
{
 
    max-height:377px;
     width:40%;
}
.carousel-indicators .active
{
    background-color: red;
}
.carousel-indicators li{
    border:2px solid #333
}
.carousel-caption
{
    background-color:rgba(0,0,0,.2);
    margin-bottom:50px;
    color:rgba(0,0,0,.6);
    height:120px;
    padding:30px;
}
.carousel .container{
    background-color:#fff;
}
.about .container
{
       
    background-image:url("../img/a2.jpg");
    min-height:250px;
    background-size:cover;
    background-repeat: no-repeat;
    color:#eee;padding:0;
    background-attachment:fixed;
     border-top-right-radius: 25px; 
    border-top-left-radius: 25px;
}
.container
{
     border-bottom:1px solid #C49B66;
}
.about
{

}
.about h1
{
    text-align: center;
    font-weight:bold;
    color:#eee;
    padding-top: 40px;

}
.about h1 span
{
    font-weight:bold;
     text-shadow: 3px 3px 10px gold;
    color:#eee;
    font-family: sans-serif;
    
}
.about p 
{
    color:#cce;
    text-align: center;
    padding-bottom:40px;
    padding-top:10px
}
.features {

}
.features h2
{
    font-weight:bold;
    padding-top:30px;
    padding-bottom:20px;
    margin-block-start: 0;
    margin-block-end: 0.83em;
    color:#ccc;
    font-family: cursive;
}
.features .feat h4{
    font-weight:bold;
    font-family:cursive;
    padding-bottom:10px;
    padding-top:10px;
    color:#eee;
}

.features .feat .glyphicon{
    font-size:30px;
    color:#C49B66;
    font-weight:300
}
.features .feat p{
 color:#eee;
 line-height:1.6;
    padding-bottom:20px
}
.features .container
{
   background-color:#222
}
.opacity
{
    background: rgba(2,2,2,.92);
     min-height:150px;
    padding:20px 25px 10px 25px;
}
 .testimonials .container
{
     background-image:url("../img/a4.jpg");
    min-height:250px;
    background-size:cover;
    background-repeat: no-repeat;
    color:#eee;padding:0;
    background-attachment:fixed;
}
.testimonials h2
{
    font-weight:bold;
    color:#ccc;
}
.testimonials span
{
    font-weight:bold;
    font-size:18px;
    color:#e41b17;
}
.testimonials .carousel-inner
{
    min-height:150px
}
#user
{
    font-size:50px;
    color:	  #C49B66;
    padding-top: 50px
}
.testimonials .carousel
{
    margin-top:30px
}
.back
{
    background-image:linear-gradient(#270073, #f95b8e);
}
.about .container, .testimonials .container
{
    background-color:#fff;   
}
.price .container{
    background-color:#222
}

.price h2
{
    padding-top:20px;
    padding-bottom:20px;
    font-weight:bold;
    color:#eee
}
.price .price_table
{
    padding-bottom:20px;
    padding-top: 20px;
    background-color:#aaa;
    margin-bottom:50px;
}
.price .price_table p:hover
{
    border:2px solid #e41b17;
    background-color: #dfc8ab;
}
.price .price_table:hover
{
 border-radius:30px;
 border:2px solid #e41b17;
}
.price_table p
{
    font-size:28px;
    font-weight:550;
    padding-bottom:20px;
    padding-top:15px; 
    background-color:#C49B66;
    border-radius:50%;
    height:100px;
    width:100px;
    line-height:70px
}
.price_table h3
{
    font-weight:bold;
    padding-bottom:20px
}
.price_table li
{
    line-height:2.5;
    font-size:15px;
    font-weight:750
}
.price_table button
{
    border-radius:30px;
    width:150px;
    margin-top: 20px
}
.price_table button span
{
    font-weight:bold;
    letter-spacing:1.3px;
}
.staff h2
{
    font-weight:bold;
    padding-top:30px;
    color:#eee
}
.staff img
{
    max-height:200px;
    max-width:200px;
    margin-top:40px;
}
.staff .container
{
     background-image:url("../img/a1.jpg");
    min-height:250px;
    background-size:cover;
    background-repeat: no-repeat;
    color:#eee;padding:0;
    background-attachment:fixed;
}
.staff h4
{
    padding-top:10px;
    font-family: cursive;
    font-weight:bold;
    font-size:25px;
    padding-bottom:10px
}
.staff p .lead
{
    padding-top:15px;
    font-size:18px;
}
.staff p i
{
    padding:0px 15px 20px 0px;
    font-size:20px;
}
.keep h2
{
   font-weight:bold;
    padding-top:30px;
        font-size:50px;
    color:#fff ;
    letter-spacing:2px;
}
.keep .container
{
        background-color:#222
}
.keep  p {
    padding-top:15px;
    font-size:18px;
    color:#eee;
    font-size:20px;
    letter-spacing:2px;
    font-family: sans-serif;
    font-weight:400
}
.keep .form-control
{
    border-radius: 0px;
}
.keep .btn
{
    border-radius: 0px;
    margin:20px 0px 20px -5px;
}
.keep form
{
      margin-bottom:50px;
    margin-top:20px;
}
@media (min-width:1200px)
{
    .keep .form-control
    {
        width:550px;
    }
}
@media (max-width:1199px and min-width:992px)
{
    .keep .form-control
    {
        width:550px;
    }
}

.statistics .container
{
       background-image:url("../img/keyboard.jpg");
    min-height:250px;
    background-size:cover;
    background-repeat: no-repeat;
    color:#eee;padding:0;
    background-attachment:fixed;
}
.opacity2
{
    background: rgba(2,2,2,.92);
     min-height:290px;
    padding:20px 25px 10px 25px;
}
.statistics h2
{
    padding-bottom:30px;
}
.statistics .num
{
    font-size:25px;
    font-weight:700;
    padding-top:20px;
}
.statistics i
{
    color:#C49B66
}
.statistics .row
{
    margin-bottom:20px;
}
